/* 
    Created on : 21 Jul, 2014, 2:09:26 PM
    Author     : Prashant Singh
*/

*{
    padding: 0px;
    margin: 0px;
}

a{
    margin-right: 5px;
    text-decoration: none;
    color: black;
}

body{
    font-family: arial;
    font-size: 14px;
}

li{
    display: inline;
    padding-left: 5px;
}

.wrapper{
    width: 940px;
    margin: 0px auto;
}

h1{
    font-size: 30px;
}

#banner{
    height: 176px;
    background: #499bd7;
    text-align: center;
    color: white;
    line-height: 176px;
}

#header{
    height: 60px;
    background: #d6d6d6;
    line-height: 60px;
}

p{
    margin-bottom: 5px;
}

#content{
    margin-top: 30px;
    margin-bottom: 40px;
    line-height: 18px; 
}

#footer{
    background: #eeeeee;
    height: 65px;
    line-height: 65px; 
    font-size: 12px;
}

.textWrap{
    float: left;
    margin-right: 12px;
}

.alignright {
    float: right;
}

.alignleft{
    float: left;
}

.container{
    width: 940px;
}