/* 
    Created on : 21 Jul, 2014, 2:09:26 PM
    Author     : Prashant Singh
*/

#wrapper{
    width: 940px;
    margin-left: auto;
    margin-right: auto;
}

#banner{
    height: 176px;
    background-color: #499bd7;
    text-align: center;
    color: white;
    vertical-align: center;
    line-height: 176px;
    font-family: arial;
    font-size: 30px;
}

#header{
    height: 60px;
    background-color: #d6d6d6;
    vertical-align: center;
    line-height: 60px;
    font-family: arial;
    font-size: 14px;
}

.header2{
    padding-left: 104px;
    padding-right: 84px;
}

#body{
    height: 462px;
    margin-left: 80px;
    margin-top: 29px;
    margin-bottom: 41px;
    margin-right: 80px;
    background-color: #ffffff;
    text-align: left;
    font-family: arial;
    font-size: 14px;
}

#footer{
    background-color: #eeeeee;
    height: 65px;
    vertical-align: center;
    line-height: 65px;    
    font-family: arial;
    font-size: 12px;
}

.TextWrap{
    float: left;
    margin: 12px;
}

p{
    margin-left: 12px;
}

.alignright {
	float: right;
}