/* 
    Created on : 23 Jul, 2014, 12:28:39 PM
    Author     : Prashant
*/

*{
    padding: 0px;
    margin: 0px;
}

body{
    font-family: 'Source Sans Pro', 'sans-serif';
    font-size: 18px;
}

@font-face 
{
        font-family: "Source Sans Pro";
        src: url('../fonts/888244629-SourceSansPro-Regular.eot');
        src: url('../fonts/888244629-SourceSansPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/888244629-SourceSansPro-Regular.svg#Source Sans Pro') format('svg'),
        url('../fonts/888244629-SourceSansPro-Regular.woff') format('woff'),
        url('../fonts/888244629-SourceSansPro-Regular.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
}

.clear{
    clear: both;
    float: none;
}

a{
    text-decoration: none;
    //color: black;
    display: block;
}

li{
    list-style: none;
}

.wrapper{
    width: 940px;
    margin: 0px auto;
}

.divider{
    float: left;
}

.header{
    height: 50px;
    background: #444444;
}

.logo{
    padding: 10px 55px 10px 10px;
    float: left;
}

.navigation{
    font-size: 18px;
    float: left;
    padding: 15px 30px 15px 25px;
}

.navigation a{
    color: #aaaaaa;
}

.insideNav{
    float: left;
}

.headerRightMost{
    float: right;
}

.banner{
    background-image: url('../images/banner.jpg');
    background-repeat: repeat;
}

.bannerLeft{
    width: 470px;
    float: left;
}

<<<<<<< HEAD
=======


>>>>>>> 613a40286426dd3416b1419505f27986b56ff5df
.bannerRight{
    width: 470px;
    float: left;
}

h1{
    margin-top: 185px;
    font-size: 48px;
    color: #ffffff;
    float: left;
}

h3{
    margin-top: 25px;
    font-size: 35px;
    color: #ffffff;
    font-weight: normal;
    float: left;
    margin-bottom: 50px;
}

.banner .wrapper .bannerLeft a{
    text-align: center;
    line-height: 50px;
    width: 170px;
    height: 50px;
    margin-right: 20px;
    font-size: 20px;
    float: left;
    border-radius: 3px;
    font-family: Arial;
}

.firstButon{
    background: #f2f2f2;
    color: #222222;
}

.secondButon{
    background: #ff9900;
    color: #ffffff;
}

.poster{
    margin-top: 45px;
    margin-left: 50px;
}

.bodyHeader{
    margin-top: 65px;
    font-size: 30px;
    color: #444444;
    text-align: center;
    margin-bottom: 75px;
}

.circleSet{
    color: #888888;
    margin-left: auto;
    margin-right: auto;
    width: 140px;
    float: left;
    padding-left: 60px;
    text-align: center;
}

.circleSet a{
    color: #888888;
    text-align: center;
}

.circleSetLast{
    clear: right;
}

.circles{
    height: 140px;
    width: 140px;
    border-radius: 50%;
    background: #efefef;
}

.bodyImg{
    padding: 50px 40px;
}
<<<<<<< HEAD

#bodyEnd{
     height: 115px;
}

.footer{
    height: 160px;
    background: #ececec;
}

.footerNavigation a{
    font-size: 16px;
    color: #ff8000;
    float: left;
    margin-top: 30px;
    margin-right: 17px;
}

#footerHome{
    color: #444444;
}

.socialNavigation{
    float: left;
    margin-top: 20px;
    margin-right: 10px;
}

.lowerFooter{
    margin-top: 15px;
    color: #aaaaaa;
}

.lowerFooter ul li{
    float: left;
    padding: 0px 10px;
}

.lowerFooter ul li a{
    color: #aaaaaa;
}

#copyRight{
    padding-right: 64px;
    padding-left: 0px;
}
=======
>>>>>>> 613a40286426dd3416b1419505f27986b56ff5df
